.DS_Store
npm-debug.log
node_modules

app/youtube-uploader/token.json
app/category-configurations.json


app/video-download-handler/videos
app/video-editor/intro.mp4

output.mp4
.env
thumbnails

*.png
